*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.sln
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
[0-9]Dispersion[*]/
[0-9]Crit[*]/